
.hero {
background-color: rgb(25, 42, 52);
color: cornsilk;

}

.menu_principal {
display:flexbox
    
}

.container {
    background-color: rgb(240, 237, 232);
}


.footer{
    background-color: darkgoldenrod;
}